body{ 
    text-align: center;
    font-family: Open Sans;
}


ul{
    list-style: none;
}

li{
    font-size: 16px;
    line-height: 32px;
}

a{
    color: #333333;
    text-decoration: none;
}


figcaption{
    font-size: 12px;
}







.navigation{
    background-color: #c4170c;
    color: white; 
}

.navigation h1{
    font-size: 32px;
}

.navigation h2{
    background-color: #b0140a;
}






.tituloArtigo{
    margin-left: 500px;
    margin-right: 500px;
    text-align: left;
}


.tituloArtigo h1{
    font-size: 56px; 
    line-height: 60px;
    font-weight: 700;
}

.tituloArtigo h2{
    font-size: 20px;
    color: #555555;  
}

.tituloArtigo h3{
    font-size: 18px;
    color:#333333;
}

.tituloArtigo h4{
    font-size: 14px;
    color:#555555;
}








.content {
    width: 700px; 
    margin: auto; 
    margin-top: 50px; 
    margin-bottom: 50px;
    text-align: left;
}

.content img{
    width: 640px;  
    margin-top: 15px;
}

.content p{
    font-size: 20px;
    color:#333333;
    line-height: 30px;
    font-weight: 400;

}

